* {
  margin: 0;
  padding: 0;

}

body {
  width: 375px;
  height: 667px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}



/* REFLAG TITLE */

.reflag {
  position: absolute;
  height: 20vh;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 30px;
  transform: translateY(-100px);
}

/* PICK COUNTRY SELECTOR */

.pick-country {
position: absolute;
cursor: pointer;
border-radius: 20px;
padding: 5px 10px 5px 10px;
font-family: 'Red Hat Display', sans-serif;
border: 2px solid black;
z-index: 100;
transform: translateY(-20px);

}

.pick-country:hover {
  color: white;
  background-color: black;
}

/* CHANGE COLOR OF FLAG BUTTON */

.change-color {
  position: absolute;
  font-family: 'Red Hat Display', sans-serif;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  width: 120px;
  z-index: 100;
  transform: translateY(450px);
}

.change-color:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

/* BORDER FLAG */

.border-flag {
  width: 600px;
  height: 350px;
  border: 2px solid black;
  position: absolute;
  transform: translateY(200px);
}


/* LIST OF COUNTRIES */


/* FRANCE */

.france {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.france-blue {
  width: 200px;
  height: 350px;
  background-color: rgb(0,85,164);
}

.france-white {
  width: 200px;
  height: 350px;
  background-color: rgb(255, 255, 255);
}

.france-red {
  width: 200px;
  height: 350px;
  background-color: rgb(239,65,53);
}

/* BELGIUM */

.belgium {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.belgium-black {
  width: 200px;
  height: 350px;
  background-color: rgb(0, 0, 0);
}

.belgium-yellow {
  width: 200px;
  height: 350px;
  background-color: rgb(253, 218, 36);
}

.belgium-red {
  width: 200px;
  height: 350px;
  background-color: rgb(239, 51, 64);
}

/* COTE */

.cote {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.cote-orange {
  width: 200px;
  height: 350px;
  background-color: rgb(247, 127, 0);
}

.cote-white {
  width: 200px;
  height: 350px;
  background-color: rgb(255, 255, 255);
}

.cote-green {
  width: 200px;
  height: 350px;
  background-color: rgb(0, 158, 96);
}

/* ITALY */

.italy {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.italy-green {
  width: 200px;
  height: 350px;
  background-color: rgb(0, 140, 69);
}

.italy-white {
  width: 200px;
  height: 350px;
  background-color: rgb(244, 245, 240);
}

.italy-red {
  width: 200px;
  height: 350px;
  background-color: rgb(205, 33, 42);
}

/* IRELAND */

.ireland {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.ireland-green {
  width: 200px;
  height: 350px;
  background-color: rgb(22,155,98);
}

.ireland-white {
  width: 200px;
  height: 350px;
  background-color: rgb(255,255,255);
}

.ireland-orange {
  width: 200px;
  height: 350px;
  background-color: rgb(255, 130, 0);
}

/* NIGERIA */

.nigeria {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.nigeria-green {
  width: 200px;
  height: 350px;
  background-color: rgb(0, 150, 57);
}

.nigeria-white {
  width: 200px;
  height: 350px;
  background-color: rgb(255,255,255);
}

.nigeria-green2 {
  width: 200px;
  height: 350px;
  background-color: rgb(0, 150, 57);
}

/* RUSSIA */

.russia {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.russia-white {
  width: 600px;
  height: 200px;
  background-color: rgb(255, 255, 255);
}

.russia-blue {
  width: 600px;
  height: 200px;
  background-color: rgb(0, 51, 160);
}

.russia-red {
  width: 600px;
  height: 200px;
  background-color: rgb(218, 41, 28);
}

/* YEMEN */

.yemen {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.yemen-red {
  width: 600px;
  height: 200px;
  background-color: rgb(206, 17, 38);
}

.yemen-white {
  width: 600px;
  height: 200px;
  background-color: rgb(255, 255, 255);
}

.yemen-black {
  width: 600px;
  height: 200px;
  background-color: rgb(0, 0, 0);
}

/* NETHERLANDS */

.netherlands {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.netherlands-red {
  width: 600px;
  height: 200px;
  background-color: rgb(174, 28, 40);
}

.netherlands-white {
  width: 600px;
  height: 200px;
  background-color: rgb(255, 255, 255);
}

.netherlands-blue {
  width: 600px;
  height: 200px;
  background-color: rgb(33, 70, 139);
}

/* LUXEMBOURG */

.luxembourg {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.luxembourg-red {
  width: 600px;
  height: 200px;
  background-color: rgb(239,51,64);
}

.luxembourg-white {
  width: 600px;
  height: 200px;
  background-color: rgb(255, 255, 255);
}

.luxembourg-blue {
  width: 600px;
  height: 200px;
  background-color: rgb(0,163,224);
}

/* HUNGARY */

.hungary {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.hungary-red {
  width: 600px;
  height: 200px;
  background-color: rgb(200,16,46);
}

.hungary-white {
  width: 600px;
  height: 200px;
  background-color: rgb(255, 255, 255);
}

.hungary-green {
  width: 600px;
  height: 200px;
  background-color: rgb(0,132,61);
}

/* GABON */

.gabon {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.gabon-green {
  width: 600px;
  height: 200px;
  background-color: rgb(0,150,57);
}

.gabon-yellow {
  width: 600px;
  height: 200px;
  background-color: rgb(255,209,0);
}

.gabon-blue {
  width: 600px;
  height: 200px;
  background-color: rgb(0,61,165);
}

/* GERMANY */

.germany {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.germany-black {
  width: 600px;
  height: 200px;
  background-color: rgb(0, 0, 0);
}

.germany-red {
  width: 600px;
  height: 200px;
  background-color: rgb(221, 0, 0);
}

.germany-yellow {
  width: 600px;
  height: 200px;
  background-color: rgb(255, 206, 0);
}

/* BULGARIA */

.bulgaria {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.bulgaria-white {
  width: 600px;
  height: 200px;
  background-color: rgb(255, 255, 255);
}

.bulgaria-green {
  width: 600px;
  height: 200px;
  background-color: rgb(0, 150, 110);
}

.bulgaria-red {
  width: 600px;
  height: 200px;
  background-color: rgb(214, 38, 18);
}

/* AUSTRIA */

.austria {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.austria-red {
  width: 600px;
  height: 200px;
  background-color: rgb(239, 51, 64);
}

.austria-white {
  width: 600px;
  height: 200px;
  background-color: rgb(255,255,255);
}

.austria-red2 {
  width: 600px;
  height: 200px;
  background-color: rgb(239, 51, 64);
}

/* ARMENIA */

.armenia {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.armenia-red {
  width: 600px;
  height: 200px;
  background-color: rgb(217, 0, 18);
}

.armenia-blue {
  width: 600px;
  height: 200px;
  background-color: rgb(0, 51, 160);
}

.armenia-yellow {
  width: 600px;
  height: 200px;
  background-color: rgb(242, 168, 0);
}

/* ESTONIA */

.estonia {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.estonia-blue {
  width: 600px;
  height: 200px;
  background-color: rgb(0,114,206);
}

.estonia-black {
  width: 600px;
  height: 200px;
  background-color: rgb(0,0,0);
}

.estonia-white {
  width: 600px;
  height: 200px;
  background-color: rgb(255, 255, 255);
}

/* LITHUANIA */

.lithuania {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.lithuania-yellow {
  width: 600px;
  height: 200px;
  background-color: rgb(255,184,28);
}

.lithuania-green {
  width: 600px;
  height: 200px;
  background-color: rgb(0,106,56);
}

.lithuania-red {
  width: 600px;
  height: 200px;
  background-color: rgb(190,58,52);
}

/* UKRAINE */

.ukraine {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.ukraine-blue {
  width: 600px;
  height: 375px;
  background-color: rgb(0, 87, 184);
}

.ukraine-yellow {
  width: 600px;
  height: 375px;
  background-color: rgb(254, 221, 0);
}

/* POLAND */

.poland {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.poland-white {
  width: 600px;
  height: 175px;
  background-color: rgb(255,255,255);
}

.poland-red {
  width: 600px;
  height: 175px;
  background-color: rgb(210,38,48);
}

/* JAPAN */

.japan {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.japan-white {
  width: 600px;
  height: 350px;
  background-color: rgb(255,255,255);
}

.japan-red {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(239,51,64);
  position: absolute;
}

/* CHAD */

.chad {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.chad-blue {
  width: 200px;
  height: 350px;
  background-color: rgb(0, 32, 91);
}

.chad-yellow {
  width: 200px;
  height: 350px;
  background-color: rgb(255, 205, 0);
}

.chad-red {
  width: 200px;
  height: 350px;
  background-color: rgb(200, 16, 46);
}

/* BANGLADESH */

.bangladesh {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.bangladesh-green {
  width: 600px;
  height: 350px;
  background-color: rgb(0, 103, 71);
}

.bangladesh-red {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(218, 41, 28);
  position: absolute;
  transform: translateX(-50px);
}


/* BAHAMAS */

.bahamas {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.bahamas-blue {
  width: 600px;
  height: 200px;
  background-color: rgb(0, 169, 206);
}

.bahamas-yellow {
  width: 600px;
  height: 200px;
  background-color: rgb(253, 218, 36);
}

.bahamas-blue2 {
  width: 600px;
  height: 200px;
  background-color: rgb(0, 169, 206);
}

.bahamas-black {

  border-top: 180px solid transparent;
  border-bottom: 170px solid transparent;
  border-left: 250px solid rgb(0, 0, 0);
  position: absolute;
}


/* BENIN */

.benin {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}


.benin-yellow {
  width: 600px;
  height: 175px;
  background-color: rgb(253, 218, 36);
  position: absolute;
  transform: translateY(175px);
}

.benin-red {
  width: 600px;
  height: 175px;
  background-color: rgb(238, 39, 55);
  position: absolute;
}

.benin-green {
  width: 200px;
  height: 350px;
  background-color: rgb(34, 136, 72);
  z-index: 1;
}

/* COLOMBIA */

.colombia {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.colombia-yellow {
  width: 600px;
  height: 300px;
  background-color: rgb(255,205,0);
}

.colombia-blue {
  width: 600px;
  height: 200px;
  background-color: rgb(0,48,135);
}

.colombia-red {
  width: 600px;
  height: 200px;
  background-color: rgb(200,16,46);
}

/* LAOS */

.laos {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.laos-red {
  width: 600px;
  height: 350px;
  background-color: rgb(239,51,64);
  position: absolute;

}

.laos-blue {
  width: 600px;
  height: 150px;
  background-color: rgb(0,61,165);
  position: absolute;
  z-index: 2;
  transform: translateY(100px);
}

.laos-white {
  width: 130px;
  height: 130px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  transform: translate(233px, 110px);
}

/* LATVIA */

.latvia {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.latvia-red {
  width: 600px;
  height: 350px;
  background-color: rgb(164, 52, 58);
  position: absolute;

}

.latvia-white {
  width: 600px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 5;
  transform: translateY(130px);

}

/* MADAGASCAR */

.madagascar {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.madagascar-red {
  width: 600px;
  height: 175px;
  background-color: rgb(249,66,58);
  position: absolute;

}

.madagascar-green {
  width: 600px;
  height: 175px;
  background-color: rgb(0,132,61);
  position: absolute;
  transform: translateY(175px);


}

.madagascar-white {
  width: 170px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 5;

}

/* MAURITIUS */

.mauritius {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.mauritius-red {
  width: 600px;
  height: 200px;
  background-color: rgb(239,51,64);
}

.mauritius-blue {
  width: 600px;
  height: 200px;
  background-color: rgb(0,94,184);
}

.mauritius-yellow {
  width: 600px;
  height: 200px;
  background-color: rgb(255,209,0);
}

.mauritius-green {
  width: 600px;
  height: 200px;
  background-color: rgb(0,150,57);
}

/* NIGER */

.niger {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.niger-orange {
  width: 600px;
  height: 200px;
  background-color: rgb(255,178,91);
}

.niger-white {
  width: 600px;
  height: 200px;
  background-color: rgb(255, 255, 255);
}

.niger-green {
  width: 600px;
  height: 200px;
  background-color: rgb(0,150,57);
}

.niger-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  transform: translate(240px, 125px);
  background-color: rgb(255,178,91);
}

/* BOTSWANA */

.botswana {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.botswana-blue {
  width: 600px;
  height: 350px;
  background-color: rgb(171, 202, 233);
}

.botswana-white {
  width: 600px;
  height: 80px;
  background-color: rgb(255,255,255);
  position: absolute;
  transform: translateY(135px);
}

.botswana-black {
  width: 600px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  transform: translateY(150px);
  z-index: 5;
}

/* CHILE */

.chile {

  width: 600px;
  height: 350px;
  border: 2px solid black;

  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.chile-blue {
  width: 180px;
  height: 175px;
  background-color: rgb(0,51,160);
  position: absolute;
  z-index: 2;

}

.chile-white {
  width: 600px;
  height: 175px;
  background-color: rgb(255, 255, 255);
  transform: translateY(0px);
  z-index: 1;

}

.chile-red {
  width: 600px;
  height: 175px;
  background-color: rgb(218,41,28);
  transform: translateY(0px);

}

.chile-star{
  color: rgb(255, 255, 255);
  position: absolute;
  padding-left: 23px;
  padding-bottom: 106px;
  transform: scale(6);
  z-index: 10;
}

/* CHINA */

.china {

  width: 600px;
  height: 350px;
  border: 2px solid black;

  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.china-red {
  width: 600px;
  height: 350px;
  background-color: rgb(222, 41, 16);
  position: absolute;
}

.china-star1{
  color: rgb(255, 222, 0);
  position: absolute;
  padding-left: 23px;
  padding-bottom: 106px;
  transform: scale(6);
  z-index: 10;
  padding-top: 100px;
}

.china-star2{
  color: rgb(255, 222, 0);
  position: absolute;
  padding-left: 120px;
  padding-top: 100px;
  transform: scale(2);
  z-index: 10;
}
.china-star3{
  color: rgb(255, 222, 0);
  position: absolute;
  padding-left: 140px;
  padding-top: 75px;
  transform: scale(2);
  z-index: 10;
}

.china-star4{
  color: rgb(255, 222, 0);
  position: absolute;
  padding-left: 143px;
  padding-top: 45px;
  transform: scale(2);
  z-index: 10;
}

.china-star5{
  color: rgb(255, 222, 0);
  position: absolute;
  padding-left: 120px;
  padding-top: 20px;
  transform: scale(2);
  z-index: 10;
}

/* DENMARK */

.denmark {

  width: 600px;
  height: 350px;
  border: 2px solid black;

  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.denmark-red {
  width: 600px;
  height: 350px;
  background-color: rgb(218,41,28);
  position: absolute;
}

.denmark-white1 {
  width: 600px;
  height: 50px;
  background-color: rgb(255,255,255);
  position: absolute;
  transform: translateY(155px);
}

.denmark-white2 {
  width: 50px;
  height: 350px;
  background-color: rgb(255,255,255);
  position: absolute;
  transform: translateX(170px);
}

/* FINLAND */

.finland {

  width: 600px;
  height: 350px;
  border: 2px solid black;

  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.finland-white {
  width: 600px;
  height: 350px;
  background-color: rgb(255,255,255);
  position: absolute;
}

.finland-blue1 {
  width: 600px;
  height: 80px;
  background-color: rgb(0,47,108);
  position: absolute;
  transform: translateY(135px);
}

.finland-blue2 {
  width: 80px;
  height: 350px;
  background-color: rgb(0,47,108);
  position: absolute;
  transform: translateX(170px);
}

/* ICELAND */

.iceland {

  width: 600px;
  height: 350px;
  border: 2px solid black;

  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.iceland-blue {
  width: 600px;
  height: 350px;
  background-color: rgb(0,48,135);
  position: absolute;
}

.iceland-white1 {
  width: 600px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  transform: translateY(135px);
}

.iceland-white2 {
  width: 60px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  transform: translateX(170px);
}

.iceland-red1 {
  width: 600px;
  height: 40px;
  background-color: rgb(210,38,48);
  position: absolute;
  transform: translateY(145px);
}

.iceland-red2 {
  width: 40px;
  height: 350px;
  background-color: rgb(210,38,48);
  position: absolute;
  transform: translateX(180px);
}

/* MICRONESIA */

.micronesia {

  width: 600px;
  height: 350px;
  border: 2px solid black;

  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.micronesia-blue {
  width: 600px;
  height: 350px;
  background-color: rgb(171, 202, 233);
  position: absolute;
}

.micronesia-star1{
  color: rgb(255, 255, 255);
  position: absolute;
  padding-left: 190px;
  padding-bottom: 106px;
  transform: scale(2);
  z-index: 10;
  padding-top: 100px;
}

.micronesia-star2{
  color: rgb(255, 255, 255);
  position: absolute;
  padding-left: 190px;
  padding-top: 140px;
  transform: scale(2);
  z-index: 10;
}
.micronesia-star3{
  color: rgb(255, 255, 255);
  position: absolute;
  padding-left: 140px;
  padding-top: 100px;
  transform: scale(2);
  z-index: 10;
}

.micronesia-star4{
  color: rgb(255, 255, 255);
  position: absolute;
  padding-left: 240px;
  padding-top: 100px;
  transform: scale(2);
  z-index: 10;
}

/* MOROCCO */

.morocco {

  width: 600px;
  height: 350px;
  border: 2px solid black;

  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.morocco-red {
  width: 600px;
  height: 350px;
  background-color: rgb(191, 13, 62);
  position: absolute;
}

.morocco-star{
  color: rgb(76, 140, 43);
  position: absolute;
  padding-left: 72px;
  padding-bottom: 80px;
  transform: scale(7);
  z-index: 10;
  padding-top: 100px;
}

/* SENEGAL */

.senegal {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.senegal-green {
  width: 200px;
  height: 350px;
  background-color: rgb(0,150,57);
}

.senegal-yellow {
  width: 200px;
  height: 350px;
  background-color: rgb(255,209,0);
}

.senegal-red {
  width: 200px;
  height: 350px;
  background-color: rgb(239, 51, 64);
}

.senegal-star{
  color: rgb(0,150,57);
  position: absolute;
  z-index: 10;
  padding: 40px 0px 0px 73px;
  transform: scale(7);

}

/* SWEDEN */

.sweden {

  width: 600px;
  height: 350px;
  border: 2px solid black;

  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.sweden-blue {
  width: 600px;
  height: 350px;
  background-color: rgb(0, 75, 135);
  position: absolute;
}

.sweden-yellow1 {
  width: 600px;
  height: 50px;
  background-color: rgb(255, 209, 0);
  position: absolute;
  transform: translateY(155px);
  z-index: 2;
}

.sweden-yellow2 {
  width: 50px;
  height: 350px;
  background-color: rgb(255, 209, 0);
  position: absolute;
  transform: translateX(170px);
  z-index: 2;
}

/* GHANA */

.ghana {

  width: 600px;
  height: 350px;
  border: 2px solid black;

  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.ghana-red {
  width: 600px;
  height: 117px;
  background-color: rgb(239, 51, 64);

}

.ghana-yellow {
  width: 600px;
  height: 117px;
  background-color: rgb(255, 209, 0);

}

.ghana-green {
  width: 600px;
  height: 116px;
  background-color: rgb(0, 150, 57);

}

.ghana-star{
  color: rgb(0 ,0, 0);
  position: absolute;
  z-index: 10;
  padding: 0px 0px 61px 72px;
  transform: scale(7);
}

/* GUINEA BISSAU */

.guinea-bissau {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.guinea-bissau-red {
  width: 200px;
  height: 350px;
  background-color: rgb(239, 51, 64);
  position: absolute;

}

.guinea-bissau-yellow {
  width: 600px;
  height: 175px;
  background-color: rgb(255, 209, 0);

}

.guinea-bissau-green {
  width: 600px;
  height: 175px;
  background-color: rgb(0, 150, 57);

}

.guinea-bissau-star{
  color: rgb(0 ,0, 0);
  position: absolute;
  z-index: 10;
  padding: 0px 0px 62px 23px;
  transform: scale(7);
}

/* GUINEA */

.guinea {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.guinea-red {
  width: 200px;
  height: 350px;
  background-color: rgb(206, 17, 38);
}

.guinea-yellow {
  width: 200px;
  height: 350px;
  background-color: rgb(252, 209, 22);
}

.guinea-green {
  width: 200px;
  height: 350px;
  background-color: rgb(0, 148, 96);
}

/* MALDIVES */

.maldives {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.maldives-red {
  width: 600px;
  height: 350px;
  background-color: rgb(200,16,46);
}

.maldives-green {
  width: 400px;
  height: 200px;
  background-color: rgb(0,132,61);
  position: absolute;
  transform: translate(100px, 75px);
}

.maldives-moon {
  color: rgb(255, 255, 255);
  position: absolute;
  margin-left: 290px;
  margin-top: 170px;
  transform: scale(8);
}

/* PALAU */

.palau {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.palau-blue {
  width: 600px;
  height: 350px;
  background-color: rgb(0, 133, 202);
}

.palau-yellow {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(255,209,0);
  position: absolute;
  transform: translate(130px, 75px);

}

/* SOMALIA */

.somalia {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.somalia-blue {
  width: 600px;
  height: 350px;
  background-color: rgb(171, 202, 233);
}

.somalia-star {
  color: rgb(255 , 255, 255);
  position: absolute;
  z-index: 10;
  padding-top: 40px;
  padding-left: 70px;
  transform: scale(7);
}

/* VIETNAM */

.vietnam {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.vietnam-red {
  width: 600px;
  height: 350px;
  background-color: rgb(200, 16, 46);
}

.vietnam-star {
  color: rgb(255, 205, 0);
  position: absolute;
  z-index: 10;
  padding-top: 32px;
  padding-left: 58px;
  transform: scale(9);
}

/* TURKEY */

.turkey {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.turkey-red {
  width: 600px;
  height: 350px;
  background-color: rgb(200, 16, 46);
}

.turkey-moon {
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: 10;
  padding-top: 32px;
  padding-left: 40px;
  transform: scale(9);
}

.turkey-star {
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: 10;
  padding-top: 50px;
  padding-left: 100px;
  transform: scale(5);
}

/* CAMEROON */

.cameroon {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.cameroon-green {
  width: 200px;
  height: 350px;
  background-color: rgb(0, 150, 57);
}

.cameroon-red {
  width: 200px;
  height: 350px;
  background-color: rgb(239, 51, 64);
}

.cameroon-yellow {
  width: 200px;
  height: 350px;
  background-color: rgb(255, 209, 0);
}

.cameroon-star {
  color: rgb(255, 209, 0);
  position: absolute;
  z-index: 10;
  padding-top: 55px;
  padding-left: 96px;
  transform: scale(5);
}

/* BURKINA */

.burkina {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.burkina-red {
  width: 600px;
  height: 175px;
  background-color: rgb(239, 51, 64);
}

.burkina-green {
  width: 600px;
  height: 175px;
  background-color: rgb(0, 150, 57);

}

.burkina-star {
  color: rgb(253, 218, 36);
  position: absolute;
  z-index: 10;
  padding-top: 55px;
  padding-left: 96px;
  transform: scale(5);
}

/* HONDURAS */

.honduras {

  width: 600px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transform: translateY(200px);
}

.honduras-blue1 {
  width: 600px;
  height: 200px;
  background-color: rgb(0, 114, 206);
}

.honduras-white {
  width: 600px;
  height: 200px;
  background-color: rgb(255, 255, 255);
}

.honduras-blue2 {
  width: 600px;
  height: 200px;
  background-color: rgb(0, 114, 206);
}

.honduras-star1 {
  color: rgb(0, 114, 206);
  position: absolute;
  z-index: 10;
  transform: translate(235px, 150px);
}

.honduras-star2 {
  color: rgb(0, 114, 206);
  position: absolute;
  z-index: 10;
  transform: translate(235px, 190px);
}

.honduras-star3 {
  color: rgb(0, 114, 206);
  position: absolute;
  z-index: 10;
  transform: translate(295px, 170px);
}

.honduras-star4 {
  color: rgb(0, 114, 206);
  position: absolute;
  z-index: 10;
  transform: translate(355px, 190px);
}

.honduras-star5 {
  color: rgb(0, 114, 206);
  position: absolute;
  z-index: 10;
  transform: translate(355px, 150px);
}
